:root {
    --solidBackground: rgb(17, 17, 34);    
    --opaqueBackground: rgba(17, 17, 34, 0.8);
    --duckEgg: rgb(156, 222, 222);
    --buttonHover: #00c2c1;
    --gradient: linear-gradient(94deg, rgba(113,158,158,1) 0%, rgba(156,222,222,1) 50%, rgba(207,255,253,1) 75%);
}

.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.main-content {
    margin: 0 5%;
}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
    font-weight:900
}

body {
    background-image: url("../images/szabo-viktor-28ZbKOWiZfs-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

aside {
    color: white;
    background-color: var(--solidBackground);    
    padding: 30px;
    height: 100%;
    border-radius: 20px;
    margin: 20px 0;
}

button {
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    background-color: var(--duckEgg);
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: var(--buttonHover);
    transition-timing-function: ease-out;
    transition: 0.3s;
}

button:focus {
    background-color: var(--buttonHover);
    color: white;
}


.input-group {
    width: 100%;
}

.form-input {
    width: 75%;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 10px;
}

.input-group-append {
    width: 25%;
    background-color: #eee;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

.weather-header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--solidBackground);  
    padding: 30px;
}

#today {
    color: white;
    background-color: var(--opaqueBackground);
    border-radius: 20px;
    padding: 30px;
}

#chosen-location {
    text-transform: capitalize;
}


.searchedCity {
    text-transform: capitalize;
}

#forecast {
    background-color: var(--opaqueBackground);
    overflow-x: scroll;
    border-radius: 20px;
    padding: 30px;
}

#today h2, #forecast h2 {
    background: url("../images/szabo-viktor-28ZbKOWiZfs-unsplash.jpg");/*var(--gradient);*/
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1 {
    background: url("../images/szabo-viktor-28ZbKOWiZfs-unsplash.jpg");/*var(--gradient);*/
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.days {
    font-weight: bold;
}

#today p {
    font-weight: bold;
}

#today p span {
    font-weight: normal;
    color: #eee;
}

#todays-date {
    font-weight: 100;
    font-size: 20px;
    -webkit-text-fill-color: #eee;
}

.card-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
}

.card-body {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    border-radius: 20px;
    background-color: var(--opaqueBackground);
    color: white;
    margin: 10px;   
}

.card-body img {
    width: 100px;
}

footer {
    min-height: 30px;
    background-color: var(--solidBackground);
}
